.nav {
    .navList {
        display: flex;
        align-items: center;
        column-gap: 30px;

        @media screen and (max-width: 645px) {
            column-gap: 10px;
        }
        @media screen and (max-width: 430px) {
            flex-direction: column;
            row-gap: 20px;
        }
    }
    button {
        background: transparent;
        border: none;
        outline: none;
        color: #000;
        cursor: pointer;
    }
    .active {
        padding: 5px 16px;
        background: #ff5480;
        border-radius: 10px;
        transition: background 0.3s ease;

        button {
            color: #fff;
        }
        &:hover {
            background: darken($color: #ff5480, $amount: 10);
        }
    }
}
