.profile {
    padding: 30px 0;
    &Header {
        min-height: 350px;
        border-radius: 10px;
        background-image: url("/manage.jpg");
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &Info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;

        .title {
            margin-bottom: 20px;
        }
    }

    &Img {
        max-width: 150px;
        height: 150px;
        margin-bottom: 30px;

        img {
            object-fit: cover;
            border-radius: 50%;
            width: 100%;
            height: 100%;
        }
    }

    &NoImg {
        width: 100%;
        max-width: 150px;
        height: 150px;
        margin-bottom: 30px;
        position: relative;

        span {
            display: block;
            object-fit: cover;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            background-color: rgb(207, 207, 207);
        }

        &::before {
            content: "No photo";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &Data {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 20px;

        span {
            display: inline-block;
            border-radius: 10px;
            color: #fff;
            background-color: #ff5480;
            padding: 10px;
        }

        @media screen and (max-width: 610px) {
            flex-direction: column;
            row-gap: 20px;
        }
    }
}
